.App {
  text-align: center;
  font-family: "Monaco", "Courier New", monospace;
}

h3 {
  padding-left: 16px;
  text-align: left;
}

.bracket-outer-container {
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px dashed black;
}

.bracket-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  margin-top: 16px;
}

.eight-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.four-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.two-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.final-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.team {
  width: 75%;
  border: 1px solid black;
}

.winner {
  font-weight: bold;
  font-size: 1.5rem;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.stage-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}